<div class="container">
	<h3 class="text-center bg-warning">
								AVMU Radar
							</h3>
							<p class="text-center">
								Moving objects marked by dots.
							</p>
							<p class="text-center">
								Feet away from Radar antennae.
							</p>
							<!--<img src="http://192.168.1.6:5000/akela" style="height: 200px; width: 200px"/>-->
	<canvas #radarData class="img-fluid" style="width: 100%;height: 500px;"></canvas>
	<button type="button"  class=" bg-warning text-center center-block" style="margin: 30px">TURN AVMU OFF</button>
</div>
