<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="pills-object-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">LIVE VIDEO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-motion-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">OBJECT DETECTION</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-object-tab">


	  <!--<img src="http://192.168.1.11:5000/snakecam" style = "height: 600px; width: 1000px"/>-->
  </div>

  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-motion-tab">
  <img src="http://192.168.1.11:5000/akela" style = "height: 600px; width: 1000px"/>
</div>
<div class="container-fluid media-body" xmlns="http://www.w3.org/1999/html">
	<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">-->
		<!--<a class="navbar-brand" href="#">-->
			<!--<img src="/assets/img/UMDuluth_logo.png" height="30px" class="mr-lg-1" alt="UMD Logo">-->
			<!--{{title}}-->
		<!--</a>-->
		<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"-->
				<!--aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
			<!--<span class="navbar-toggler-icon"></span>-->
		<!--</button>-->
		<!--<div class="collapse navbar-collapse" id="navbarText">-->
			<!--<span class="mr-auto"></span>-->
			<!--<span class="navbar-text">Navbar text with an inline element</span>-->
		<!--</div>-->
	<!--</nav>-->
	<!--<div class="row align-items-center">-->
		<!--<div class="col-md-auto p-1">-->
			<!--<img src="/assets/img/Air_Force_Research_Laboratory.png" style="max-height: 7%; max-width: 7%"-->
				 <!--alt="AFRL Logo">-->
			<!--hello hello hello-->
			<!--<img src="http://10.8.1.4:8080/?action=stream"/>-->
			<!--hello hello hello-->
			<!--<img src="/assets/img/airforce.png" style="max-height: 7%; max-width: 7%" alt="Air Force Logo">-->
		<!--</div>-->
		<!--<div class="col-5 p-1">-->
		<!--</div>-->
		<!--11-->
		<!--<div class="col-md-auto p-1 m-2">-->
			<!--<app-button title="Akela" target="targettest"></app-button>-->
			<!--<app-button title="Piezometer" target="targettest"></app-button>-->
			<!--<app-button title="Microwave Detection" target="targettest"></app-button>-->
			<!--<app-button title="RF Detector" target="targettest"></app-button>-->
		<!--</div>-->
		<!--<div class="col-md-auto p-1 m-2">-->
		<!--<app-battery-gauge></app-battery-gauge>-->
		<!--</div>-->
		<!--<div class="col-md-auto pl-3 m-2">-->
		<!--<app-light-gauge></app-light-gauge>-->
		<!--</div>-->
		<!--<div class="col-md-auto p-1 m-2">-->
		<!--<img src="/../assets/img/leak.png" style="max-width: 100%" height="43"/>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="row p-1">-->
		<!--<div class="col">-->
			<!--<app-image-loader></app-image-loader>-->
		<!--</div>-->
		<!--<div class="col-sm-2">-->
			<!--<div class="col">-->
			<!--<app-switches></app-switches>-->
			<!--</div>-->
			<!--<div class="col m-1">-->
			<!--<app-light-slider></app-light-slider>-->
			<!--</div>-->
			<!--<div class="col m-1">-->
			<!--<app-thruster-gauge></app-thruster-gauge>-->
			<!--<app-temp-gauge></app-temp-gauge>-->
			<!--<app-pressure-gauge></app-pressure-gauge>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!--<notifier-container></notifier-container>-->
