<div class="container text-center p-3">
	<div class="row">
		<div class="col">
			<div class="tab-content flex-column order-0" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
					 aria-labelledby="v-pills-home-tab">
					<div class="row">
						<div class="col-4">
							<app-avmu></app-avmu>
						</div>
						<div class="col-8 p-0">
							<div class="row">
								<div class="col pb-2">
									<app-video></app-video>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<app-wolfhound></app-wolfhound>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<app-microwave></app-microwave>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-video" role="tabpanel"
					 aria-labelledby="v-pills-video-tab">
					<app-video></app-video>
				</div>
				<div class="tab-pane fade" id="v-pills-radar" role="tabpanel"
					 aria-labelledby="v-pills-radar-tab">
					<!--					<app-avmu></app-avmu>-->
				</div>
				<div class="tab-pane fade" id="v-pills-rf" role="tabpanel"
					 aria-labelledby="v-pills-rf-tab">
					<app-wolfhound></app-wolfhound>
				</div>
				<div class="tab-pane fade" id="v-pills-procedure" role="tabpanel"
					 aria-labelledby="v-pills-procedure-tab">
					<app-amber></app-amber>
				</div>
				<div class="tab-pane fade" id="v-pills-oprocedure" role="tabpanel"
					 aria-labelledby="v-pills-oprocedure-tab">
					<app-rubble></app-rubble>
				</div>
				<div class="tab-pane fade" id="v-pills-map" role="tabpanel"
					 aria-labelledby="v-pills-map-tab">
					<app-areamap></app-areamap>
				</div>
				<div class="tab-pane fade" id="v-pills-car" role="tabpanel" aria-labelledby="v-pills-car-tab">
					<app-car></app-car>
				</div>
			</div>
		</div>

		<div class="col-3 h-100">
			<div class="row">
				<div aria-orientation="vertical" class="nav flex-column w-100 nav-pills text-left order-0 bg-dark mx-3"
					 id="v-pills-tab"
					 role="tablist">
					<a aria-controls="v-pills-home" aria-selected="true" class="nav-link text-white active"
					   data-toggle="pill"
					   href="#v-pills-home"
					   id="v-pills-home-tab" role="tab"><h5>Overview</h5></a>
					<a aria-controls="v-pills-video" aria-selected="false" class="nav-link text-white"
					   data-toggle="pill"
					   href="#v-pills-video"
					   id="v-pills-video-tab" role="tab"><h5>SnakeScope Video</h5></a>
					<a aria-controls="v-pills-radar" aria-selected="false" class="nav-link text-white"
					   data-toggle="pill"
					   href="#v-pills-radar"
					   id="v-pills-radar-tab" role="tab"><h5>AVMU Radar</h5></a>
					<a aria-controls="v-pills-rf" aria-selected="true" class="nav-link text-white" data-toggle="pill"
					   href="#v-pills-rf"
					   id="v-pills-rf-tab" role="tab"><h5>Phone Detector</h5></a>
					<a aria-controls="v-pills-procedure" aria-selected="false" class="nav-link text-white"
					   data-toggle="pill"
					   href="#v-pills-procedure"
					   id="v-pills-procedure-tab" role="tab"><h5>Amber Procedure</h5></a>
					<a aria-controls="v-pills-oprocedure" aria-selected="false" class="nav-link text-white"
					   data-toggle="pill"
					   href="#v-pills-oprocedure"
					   id="v-pills-oprocedure-tab" role="tab"><h5>Rubble Procedure</h5></a>
					<a aria-controls="v-pills-map" aria-selected="false" class="nav-link text-white" data-toggle="pill"
					   href="#v-pills-map"
					   id="v-pills-map-tab" role="tab"><h5>Local Map</h5></a>
					<a aria-controls="v-pills-car" aria-selected="false" class="nav-link text-white" data-toggle="pill"
					   href="#v-pills-car"
					   id="v-pills-car-tab" role="tab"><h5>Car Schematic</h5></a>
				</div>
			</div>
			<div class="col">
				<img alt="UMD Logo" class="img-fluid w-75 p-2 text-center" src="/assets/img/UMDlogo1.png"/>
			</div>
			<div class="col">
				<img alt="2019 AFRL UDC Patch" class="img-fluid w-75 p-2 text-center" src="/assets/img/UDCLogo.jpg"/>
			</div>
		</div>
	</div>
</div>
