.camButton {
	border: none;
	padding: 0;
	background: white;
}

/* Fix notification popup 'X' button not being vertically centered */
.notifier__container {
	line-height: 1rem;
}

div.jumbotron.hero-angle{
    color:#000;
    text-align:center;
    background:url('/assets/img/hero-angle2.png');
    background-size:cover;
    background-position:center;
    padding-top:0px;
    padding-bottom:0px;
}

.wrapper{
  margin-top: 15px;
}
